@layer layout {
  body {
    min-height: 100svb;
  }

  .article-card {
    container: layout / inline-size;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    row-gap: 1.5rem;
    column-gap: 1.875rem;
  } 
  
  @container layout (min-width: 400px) {
    .col-span, .row-span {
      grid-column: auto / span 2;
    }
  }

  @container layout (min-width: 1000px) {
    .row-span {
      grid-column: 4 / 5;
      grid-row: 1 / span 2;
    }
  }


}