@layer layout {
  body {
    min-height: 100svb;
  }

  /*** The layout of the card module ***/

  .article-card {
    container: card-layout / inline-size;
  }

  .card-wrapper {
    display: grid;
    /* This min(255px, 100%) trick is from the Every Layout book. 
    It works like the flex-basis. 
    If the grid items are smaller than 255px, 
    the 100% will work and they will cover the whole line 
    like display: block.
    */
    grid-template-columns: repeat(auto-fit, minmax(min(255px, 100%), 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)); */
    row-gap: 1.5rem;
    column-gap: 1.875rem;
  }

  @container card-layout (min-width: 400px) {

    .col-span,
    .row-span {
      grid-column: auto / span 2;
    }
  }

  @container card-layout (min-width: 1000px) {
    .row-span {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
    }
  }


}