@layer utilities {

  /* For the card module */
  .article-card--bg-color-5 {
    background-color: var(--bg-color-5);
  }

  .card--bg-color-1 {
    background-color: var(--bg-color-1);
  }

  .card--bg-color-2 {
    background-color: var(--bg-color-2);
  }

  .card--bg-color-3 {
    background-color: var(--bg-color-3);
  }

  .card--bg-color-4 {
    background-color: var(--bg-color-4);
  }

  .card--text-color-1 {
    color: var(--text-color-1);
  }

  .card--text-color-3 {
    color: var(--text-color-3);
  }

  .card--margin-extra {
    margin-block-end: 0;
  }

  .card__user-image--outline {
    outline: 2px solid #A775F1;
  }

  .card__highlight--margin-big {
    margin-block-end: 2.5rem;
  }

  .card__highlight--padding-extra {
    padding-inline-end: 1rem;
  }

  .card__highlight--text-color-4 {
    color: var(--text-color-4);
  }

  .card__description--text-color-2 {
    color: var(--text-color-2);
  }

}